/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
    margin: 0;
    padding: 0;     
}

body {
    font-family: sans-serif;
    background-color: #540B51;
    color: #F3EAE2;    
}

button {
    border-radius: 5px;    
    border: none;
}


/*NAVBAR*/

nav {
    display: flex;
    justify-content: center;
    padding: 15px 20px;
}

p > span {
    color: #ECB12F;
}

/*classes*/
.navbar {
    display: none;
}

.icon-menu {
    display: flex;
    justify-content: space-around;
}
.icon-menu > button {
    background-color: #540B51;
}

.icon-menu :nth-child(2) {
    margin-left: 10px;
}

/*IDs*/
#slack-logo {
    width: 30%; 
 }



/*HEADER*/
h1, h1 + p {
    color: #F3EAE2;
    text-align: center;
    margin: 25px;
}

/*IDs*/
#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

#google-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#google-loogo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #454245;
    background-color: #F3EAE2;

    height: 30px;
    width: 30px;
    margin-left: 5px;

    flex-shrink:2;
}

#spacer-div {
    flex-shrink: 2;
    height: 10%;
    width: 10%;
    
}

#buttons > button {
    background-color: #F3EAE2;
    border: none;
    height: 46%;
    margin: 0 2%;
}

#google-button {
    background-color: #4285F4 !important; 
    color: #F3EAE2;
}

#google-loogo-container > img {
    height: 20px;
    width: 20px;
}

#giant-picture {

}

